/* Add styles to all elements */
* {
	margin: 0; /* remove margin from all elements */
	padding: 0; /* remove padding from all elements */
	box-sizing: border-box; /* fix width calculation, more info here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing */
}

/* Write your CSS below (feel free to change the styles already here) */

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Italic.ttf") format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
    grid-template-rows: 1fr auto 1fr;
	background-color: #fffdfd;
   background-color: #fffdfd;
    background-image:
    radial-gradient(circle at 8% 18%, #899e6c93 0%, transparent 40%),
    radial-gradient(circle at 58% 62%, hsla(30, 50%, 24%, 0.328) 0%, transparent 40%),
    radial-gradient(circle at 88% 30%, #cd5e2a70 0%, transparent 35%);

}


header {
	grid-row: 2;
    text-align: center;
}

.title {
	font-family: Lato;
	font-size: 100px;
	font-weight: 700;
	font-style: italic;
}

.name {
	font-family: Lato;
	font-size: 16px;
	font-weight: 300;
	max-width: 500px;
    margin: 0 auto;
	text-align: right;
	color:black;
}

.name a {
    color: rgb(123, 126, 213);
    text-decoration: none;
	font-weight: 400;
}

.name a:hover {
	background-color: rgb(244, 115, 216);
	color:black;
}

nav {
	grid-row: 3;
	font-family: Lato;
	display: flex;
    justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 40px;
	margin: 10px;
	font-size: 17px;
	font-weight: 700;
	margin-left: 9%;
	margin-right: 9%;
}

.v90 { 
	background: #899e6c; 
	color:#899e6c;
}
.v00 { 
	background: hsl(30, 50%, 24%); 
	color:hsl(30, 50%, 24%);
}
.v10 { 
	background: #cd5d2a; 
	color:#cd5d2a;
}

nav a {
	flex-grow: 1;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	color: black;
	margin-top: 90px;
	transition: flex-grow 0.5s ease;
}


.v90:hover {
	flex-grow: 5;
	color:#cd5d2a;
}

.v00:hover {
	flex-grow: 5;
	color:#d18e97;
}

.v10:hover {
	flex-grow: 5;
	color:#dfae33;
}